extends layout

block content
    div.container-fluid.p-b-3.xl-font.justify
        div.row.font-lg
            div.col-xs-5.pull-xs-right.p-t-1
                address.justify
                    | Ayikpah Daniel Mcwaves<br>
                    | Box 28 Ada, Accra, Ghana<br>
                    | dannymcwaves96@gmail.com<br>
                    | +23320 296 4065
            div.col-xs-10.p-t-1.col-xs-offset-1
                address
                    | The Application Review Team,<br>
                    | Andela.
            article.col-xs-10.p-t-1.col-xs-offset-1
                | Dear Sir/Madam:
            div.col-xs-10.col-xs-offset-1.p-t-1
                div.p-b-1
                    | I am a computer programmer and web developer writing with regards to the open applications for the Nigeria Andela Fellowship Cycle XXI.
                    | Given my related
                    | experience and excellent capabilities that matches your search for a top-notch, dedicated and self-driven developer from Africa,
                    | I would really appreciate your consideration for this timely opportunity.

                div.p-b-1
                    | The nature of my education, I believe has prepared me for this opportunity. It involved a great
                    | deal of research, self study, self motivation, determination, hardwork and a wide range of acquired skills as well as
                    | projects to assert them. These qualities, in my very humble opinion, I am very certain are desired in any member of Andela.
                    
                    div.p-b-1
                    | I started writing computer programs since high school and since then, 
                    | I have developed a very deep passion for the software development. 
                    | To verify that claim, here is a timeline of some of the projects I have worked as a developer:
                    div.p-l-3.p-t-1.p-b-1
                        | 1. Webpack 2 Documentation<br/>
                        | 2. Our hands and feet. (http://www.ourhandsandfeet.org)<br/>
                        | 3. BrainList (https://brainlist.github.io) --still under development <br/>
                        | 4. Portfolio (https://rebrand.herokuapp.com) <br/>
                        | 5. Design Skills (https://dannymcwaves.github.io) <br/>
                    | Please do check my github for more of my projects at https://github.com/DannyMcwaves<br/>

                div.p-b-1
                    | Also, my experience with computers from a very tender age enabled me to work as
                    | an IT tutor in my former school at the age of 18. I worked harmoniously with some of my
                    | former teachers. This was possible due to mutual understanding, effective, coherent
                    | and respectful communication as well as dedicated and shared team work,
                    | which I believe are strong values embedded in your team and a major requirement of
                    | every member.

                div.p-b-1
                    | Andela is an opportunity for any growing African to take their skills to a level which is par to that of a stanford graduate in Silicon Valley, 
                    | and I would really love to grasp this opportunity to take my career to the next level and be the best I can be.

                footer.p-b-1
                    | To further acquaint you with my background, I am attaching a resume. I welcome the
                    | opportunity to speak with you about my qualifications.
                    | I can best be reached through email, dannymcwaves96@gmail.com, and phone, +233202964065.
                    | I look forward to hearing from you.

            div.sub.col-xs-10.col-xs-offset-1
                | Thank You.<br>
                | Sincerely,<br>
                | Ayikpah Daniel.
