extends layout

block content
  div.container-fluid
    div.row
        div#side.col-xs-3.bg-faded.text-xs-center
            div.p-t-2
                p.text-xs-right.name.p-r-2 JEFF BONI
            div.card.bg-faded.p-t-3.m-t-1.text-xs-right
                img.img-top.m-r-3(src="/images/contact2.png")
                p.card-block
                    | 0209633119
            div.card.bg-faded.text-xs-right
                img.img-top.m-r-3(src="/images/loca2.png")
                p.card-block
                    | P. O Box 12050ce <br>
                    | TEMA, Ghana <br>
            div.card.bg-faded.text-xs-right
                img.img-top.m-r-3(src="/images/mail.png")
                p.card-block
                    | jeffbonimississo@gmail.com

            div.card.bg-faded.text-xs-right
                img.m-b-h.m-r-3(src="/images/skills2.png")
                section.m-b-h.m-r-2 SKILLS & STRENGTHS
                p.card-block.m-r-h
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Quick Learner <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Good Communication <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Interpersonal skills <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Analytical Skills <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Focused <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Punctual <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Knowledgeable <br>

        div#main.col-xs-9
            div.p-t-2
                p.text-xs-left.p-b-1.name.p-l-2
                    | MISSISSO<br>
            div.content.m-b-3.col-xs-11
                header.text-xs-right
                    img.m-l-1(src="/images/proff.png")
                    span.text-muted.m-l-1 PROFILE
                div.p-t-1.p-b-1
                    | A highly motivated, ambitious, entrepreneurial spirited student with a proven ability to develop and maintain good professional relationship easily with others. Demonstrating capabilities in establishing successful interaction with various diverse groups. Highly dedicated in giving best service for the customers with excellent organizational skills.

            div.content.m-b-3
                header.text-xs-right.exp.col-xs-11.m-a-1
                    img.m-l-1(src="/images/port.jpg")
                    span.text-muted.m-l-1 INTERNSHIP EXPERIENCE
                div.container-fluid
                    div#exp1.row
                        div.col-xs-offset-1.col-xs-5.p-b-2.bd-1.m-r-1
                            img#harbor(src="/images/harbor.jpg", alt="harbor")
                            div.right
                                section.text-muted GHANA PORTS AND HARBOURS AUTHORITY<br>
                                b.last SERVICE PERSONNEL.
                                section.text-muted TEMA.<br>
                                section.text-muted.m-b-h 2016<br>

                        div.col-xs-4.p-b-2.bd-1
                            img#teledata(src="/images/teledata.jpg")
                            div.right
                                section.text-muted.lg-font TELEDATE ICT.<br>
                                b.last CUSTOMER SERVICE RELATIONS.
                                section.text-muted TEMA
                                section.text-muted.m-b-h 2015<br>

                    div#exp2.row.m-t-2
                        div.col-xs-offset-1.col-xs-5.p-b-2.bd-1.m-r-1
                            img#roberts(src="/images/roberts.jpg", alt="harbor")
                            div.right
                                section.text-muted Mr. ROBERTS<br>
                                b.last ENTERPRENEUR
                                section.text-muted KUMASI.<br>
                                section.text-muted.m-b-h 2017-PRESENT<br>

            div#edu.content.m-b-3
                header.text-xs-right.col-xs-10.m-a-1
                    img.edu.m-l-1(src="/images/edu.png")
                    span.text-muted.m-l-1 EDUCATION
                div.container-fluid
                    div.row
                        div.col-xs-4.col-xs-offset-1.bd-1.p-t-1.p-b-1
                            img#ipmc(src="/images/pta.jpg")
                            div.next
                                h6.text-muted TEMA PTA SCHOOL
                                section.text-muted 2000 - 2009
                                section.text-muted.m-b-h TEMA, GHANA.
                        div.col-xs-4.col-xs-offset-1.bd-1.p-t-1.p-b-1
                            img#mawuli(src="/images/mawuli.png")
                            div.next
                                h6.text-muted MAWULI SCHOOL
                                b.last General Arts.
                                section.text-muted 2010 – 2013
                                section.text-muted.m-b-h TEMA, GHANA.
                    div.row.m-t-2
                        div.col-xs-4.col-xs-offset-1.bd-1.p-t-1.p-b-1
                            img#ipmc(src="/images/knust.png")
                            div.next
                                h6.text-muted KNUST
                                b.last BSc. ECONOMICS
                                section.text-muted 2014 – 2018
                                section.text-muted.m-b-h KUMASI, GHANA.

            div.content.m-b-3
                header.text-xs-right.col-xs-10.m-a-1
                    img.edu.m-l-1(src="/images/proj.png")
                    span.text-muted.m-l-1 INTERESTS
                div.container-fluid
                    div.row.text-xs-center
                        div.col-xs-8.col-xs-offset-1
                            h6 COMPUTER PROGRAMMING AND GRAPHIC DESIGN
                        div.col-xs-8.col-xs-offset-1
                            h6 VIDEOGRAPHY
                        div.col-xs-8.col-xs-offset-1
                            h6 PHOTOGRAPHY
