extends layout

block content
    div.container-fluid.p-b-3.xs-font.justify
        div.row
            div.col-xs-5.pull-xs-right.p-t-1
                address.justify
                    | Ayikpah Daniel Amanor Mcwaves<br>
                    | Box 28 Ada, Accra, Ghana<br>
                    | dannymcwaves96@gmail.com<br>
                    | +23320 296 4065
            div.col-xs-10.p-t-1.col-xs-offset-1
                address
                    | The Hiring Manager,<br>
                    | Trello.
            article.col-xs-10.p-t-1.col-xs-offset-1
                | Dear Hiring Manager:
            div.col-xs-10.col-xs-offset-1.p-t-1
                div.p-b-1
                    | I am a computer programmer and web developer writing with regards to the job
                    | advertisement
                    | on
                    | your website
                    | for a Back End developer.
                    | Given my related
                    | experience and excellent capabilities that matches your search for someone with
                    | dedicated contribution and can effectively communicate his knowledge with other's.
                    | I would really appreciate your consideration for this job opening.

                div.p-b-1
                    | The nature of my education, I believe has prepared me for this job. It involved a great
                    | deal of research, self study, self motivation and a wide range of skills as well as
                    | projects to assert them.
                    |  First, I have had a programming experience with all MEAN stack technologies and
                    | I have successfully deployed some projects online which includes my portfolio,
                    | https://dannymcwaves.herokuapp.com and a codebase, https://mycodebase.herokuapp.com.
                    | All of which are RESTive. I am good with debugging and
                    | the use of linters for code testing.

                div.p-b-1
                    | Also, my experience with computers from a very tender age enabled me to work as
                    | an IT tutor in my former school at the age of 18. I worked harmoniously with some of my
                    | former teachers. This was possible due to mutual understanding, effective, coherent
                    | and respectful communication as well as dedicated and shared team work,
                    | which I believe are strong values embedded in your company and a major requirement of
                    | every employee.

                div.p-b-1
                    | Moreover, what I really love about this job is that, it will give me the opportunity to learn
                    | more and interact with diverse experienced developers worldwide. Considering the fact that
                    | I am adept at learning very quickly and digesting loads of information easily, I believe I am suitable
                    | for this job opening. This job sounds personal to me, because as a remote employee
                    | I would love to help improve how other's work remotely too.

                footer.p-b-1
                    | To further acquaint you with my background, I am attaching a resume. I welcome the
                    | opportunity to speak with you about my qualifications and ways I can contribute to
                    | Trello.
                    | I can best be reached through email, dannymcwaves96@gmail.com, and phone, +233202964065.
                    | I look forward to hearing from you.

            div.sub.col-xs-10.col-xs-offset-1
                | Thank You.<br>
                | Sincerely,<br>
                | Ayikpah Daniel.
