extends layout

block content
    div.container-fluid.p-b-3
        div.row
            div.col-xs-3.pull-xs-right
                address
                    | Ayikpah Daniel Amanor Mcwaves<br>
                    | Box 28 Ada, Accra, Ghana<br>
                    | dannymcwaves96@gmail.com<br>
                    | +23320 296 4065
            div.col-xs-12.p-a-2.p-l-3
                address
                    | The Hiring Manager<br>
                    | Company name
            article.col-xs-12.p-t-1.p-l-3
                | Dear Mr | Mrs HR:
            div.col-xs-10.col-xs-offset-1.p-t-1
                div.p-b-1
                    | I am a computer programmer and web developer writing with regards to the job
                    | advertisement
                    | on
                    small.text-danger.p-a-1
                        | [ where did you see this ]
                    | for a
                    small.text-danger.p-a-1
                        | [ what position are you applying for ].
                    | Given my related
                    | experience and excellent capabilities that matches your search for a
                    small.text-danger.p-a-1
                        | [ what are they looking for ],
                    | I would really appreciate your consideration for this job opening.

                div.p-b-1
                    | The nature of my education, I believe has prepared me for this job. It involved a great
                    | deal of research, self study, self motivation and a wide range of skills as well as
                    | projects to assert them.
                    small.text-primary.p-a-1
                        | [ How can the company use this skills. research what the company needs again ]

                div.p-b-1
                    | Also, my experience with computers from a very tender age enabled me to work as
                    | an IT tutor in my former school at the age of 18. I worked harmoniously with some of my
                    | former teachers. This was possible due to mutual understanding, effective, coherent
                    | and respectful communication as well as dedicated team work.
                    small.text-success.p-a-1
                        | [which i believe are strong values embedded in your company and requirement of
                        | every employee. ]
                    small.text-danger.p-a-1
                        | [ check if the company has other values apart from this one they need. ]

                div.p-b-1
                    small.text-info
                        | [ I am applying for this job, why this job? why do I want this job what is good
                        | about it. ] <br>
                    small.text-warning
                        | can it give me the opportunity to learn more?<br>
                        | work with a diverse group of experienced people?<br>
                        | can it make use of my skills?<br>
                        | what features it has that makes me wanna be here?

                footer.p-b-1
                    | To further acquaint you with my background, I am attaching a resume. I welcome the
                    | opportunity to speak with you about my qualifications and ways I can contribute to
                    small.text-danger.p-a-1
                        | [company name]
                    | I can be reached through email, dannymcwaves96@gmail.com,and phone, +233202964065.
                    | I look forward to hearing from you.

            div.sub.col-xs-12.p-l-3
                | Thank You.<br>
                | Sincerely.
                | Ayikpah Daniel.
