extends layout

block content
  div.container-fluid
    div.row
        div#side.col-xs-3.bg-faded.text-xs-center
            div.p-t-2
                p.text-xs-right.name.p-r-2 DANNY
            div.card.bg-faded.p-t-3.m-t-1.text-xs-right
                img.img-top.m-r-3(src="/images/contact2.png")
                p.card-block
                    | +27 84 296 4065
            div.card.bg-faded.text-xs-right
                img.img-top.m-r-3(src="/images/loca2.png")
                p.card-block
                    | Sandton, Guateng <br>
                    | Johannesburg, South Africa <br>
            div.card.bg-faded.text-xs-right
                img.m-r-3(src="/images/web2.png")
                p.card-block
                    a.link(href="https://rebrand.herokuapp.com") rebrand.herokuapp.com
            div.card.bg-faded.text-xs-right
                img.img-top.m-r-3(src="/images/mail.png")
                p.card-block
                    | dannymcwaves@icloud.com
            div.card.bg-faded.text-xs-right
                img.m-r-3(src="/images/in2.png")
                p.card-block
                    a.link.linked(href="https://www.linkedin.com/in/dannymcwaves") linkedin.com/in/dannymcwaves

            div.card.bg-faded.text-xs-right
                img.m-b-h.m-r-3(src="/images/skills2.png")
                section.m-b-h.m-r-2 SKILLS & EXPERTISE
                p.card-block.m-r-h
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span React <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Angular 4 <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span python <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span JavaScript <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Node.js <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Docker <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Microservices <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Polymer <br>
                    span.label.text-danger.m-r-h
                        i.fa.fa-asterisk
                    span Database programming


            div.card.bg-faded.m-b-3.text-xs-right
                img.m-b-h.m-r-3(src="/images/connect2.png")
                section.m-b-h.m-r-2 CONNECT
                div.m-r-2
                    section facebook: Danny Mcwaves
                    section twitter: Danny Mcwaves

        div#main.col-xs-9
            div.p-t-2
                p.text-xs-left.p-b-1.name.p-l-2
                    | MCWAVES<br>
                    span SOFTWARE DEVELOPER.
            div.content.m-b-3.col-xs-11
                header.text-xs-right
                    img.m-l-1(src="/images/proff.png")
                    span.text-muted.m-l-1 PROFILE
                div.p-t-1.p-b-1
                    | An experienced software developer and quick learner.<br/>
                    | Versatile skill set with experience in scrum and agile development as well as a passion for test
                    | and feature-driven development. Hence, proficient at designing and formulating test automation
                    | frameworks. Have successfully transformed static web content into reusable components that
                    | dramatically improved UX. Excellent written and oral communication skills; capable of explaining
                    | complex software issues in easy-to-understand terms.<br/>
                    | Deep love for open source and information sharing. Have contributed to webpack and quill component
                    | for polymer 2 and have written technical articles on medium.

            div.content.m-b-3
                header.text-xs-right.exp.col-xs-11.m-a-1
                    img.m-l-1(src="/images/port.jpg")
                    span.text-muted.m-l-1 EXPERIENCE
                div.container-fluid
                    div#exp1.row
                        div.col-xs-4.p-b-1.text-xs-right
                            section.text-muted UPWORK<br>
                            b.last FREELANCER.
                            section.text-muted.m-b-h 01/2015 – PRESENT<br>
                        div.col-xs-8
                            section.detail
                                li Developed responsive web apps for clients <br/>
                                li Created automated bots and scripts. <br/>
                                li Provided bug-fixes, manual testing and feature development. <br/>
                                li Provided configurations and custom setups for dev environments. <br/>
                                li Etc…

                        div.col-xs-4.p-b-2.m-t-2.text-xs-right
                            section.text-muted SCHOLARNEX<br>
                            b.last BACKEND DEVELOPER INTERN
                            section.text-muted Greater Noida, Uttar Pradesh, India.<br>
                            section.text-muted.m-b-h 04/2016 – 09/2016<br>
                        div.col-xs-8.m-t-2
                            section.detail
                                li Worked seamlessly with the team and directly with CTO <br/>
                                li Developed email program with sendgrid for mass marketing. <br/>
                                li Developed main backend API’s for authentication and request handling

                    div#exp2.row
                        div.col-xs-4.text-xs-right
                            section.text-muted WEB-JAM LLC<br>
                            b.last FULLSTACK DEVELOPER
                            section.text-muted Roanoke, Virginia, USA.
                            section.text-muted.m-b-h 11/2016 – present<br>
                        div.col-xs-8.m-b-2
                            section.detail
                                li Constantly update test cases
                                li Provided new features and simple bug-fixes
                                li Communicated regularly with main senior developer

                        div.col-xs-4.m-t-2.text-xs-right
                            section.text-muted SCARATEC IT-Consulting GmBH<br>
                            b.last FRONTEND DEVELOPER
                            section.text-muted Düsseldorf Area, Germany.
                            section.text-muted.m-b-h 03/2017 – 02/2018<br>
                        div.col-xs-8
                            section.detail.m-t-2
                                li Transformed static web content into reusable components with polymer
                                li Improved UI and UX using current cut-edge tech like asset-bundling and caching.
                                li Provided cross-browser support and bug-fixes on quirky browsers like IE11
                                li Worked seamlessly with the existing team by communicating constantly and<br/>
                                    span.p-l-1 updating tasks with trello.

            div#edu.content.m-b-3
                header.text-xs-right.col-xs-10.m-a-1
                    img.edu.m-l-1(src="/images/edu.png")
                    span.text-muted.m-l-1 EDUCATION
                div.container-fluid
                    div.row
                        div.col-xs-4.col-xs-offset-1.bd-1.p-t-1.p-b-1
                            img#ipmc(src="/images/ipmc.png")
                            div.next
                                h6.text-muted IPMC
                                b.last BSc. SOFTWARE ENGINEERING
                                section.text-muted 2012 – 2015
                                section.text-muted.m-b-h ACCRA, GHANA.
                        div.col-xs-4.col-xs-offset-1.bd-1.p-t-1.p-b-2
                            img#edx(src="/images/edx.png")
                            div.next
                                h6.text-muted edX
                                b.last INT. TO COMPUTER SCIENCE
                                section.text-muted.m-b-h 2014

                div.container-fluid
                    div.row
                        div.col-xs-4.col-xs-offset-1.bd-1.p-t-1.p-b-2
                            img#cos(src="/images/coursera.png")
                            div.next
                                h6.text-muted Cousera
                                b.last DATA STRUCTURES & ALGORITHM.
                                section.text-muted.m-b-h 2015

            div.content.m-b-3
                header.text-xs-right.col-xs-10.m-a-1
                    img.edu.m-l-1(src="/images/proj.png")
                    span.text-muted.m-l-1 CONTRIBUTIONS
                div.container-fluid
                    div.row
                        div.col-xs-4.col-xs-offset-1
                            i.fa.fa-medium.fa-4x
                                b.p-l-2.text MEDIUM <br/>
                            p.text-muted.m-l-3 https://medium.com/@dannymcwaves
                        div.col-xs-4.col-xs-offset-1
                            i.fa.fa-github.fa-4x
                                b.p-l-2.text GITHUB
                            p.text-muted.m-l-3 https://github.com/DannyMcwaves
                div.container-fluid
                    div.row
                        div.col-xs-5.col-xs-offset-1
                            i.fa.fa-stack-overflow.fa-4x
                                b.p-l-2.text STACK OVERFLOW <br/>
                            p.text-muted.m-l-3 https://stackoverflow.com/users/6699753/danny-mcwaves

